## Data engineering

In [3]:
import pandas as pd

In [4]:
meas = pd.read_csv("Resources/hawaii_measurements.csv")
# Change temp var name to be more intuitive
meas.rename(columns = {"tobs": "temps"})
meas.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [5]:
sta = pd.read_csv("Resources/hawaii_stations.csv")
sta.head(3)

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0

In [6]:
# Count num obsv
print(f"Measurements: {meas.shape[0]} \
\nStations: {sta.shape[0]}")

Measurements: 19550
Stations: 9

In [7]:
# Check NaNs
sta.isnull().sum()
meas.isnull().sum()

station       0
date          0
prcp       1447
tobs          0
dtype: int64

In [8]:
# Check number of measurements per station
meas_sta = meas.groupby("station").count().sort_values("date", ascending = False).reset_index()
meas_sta.merge(sta, on = "station")
# The station with the highest elevation also had the sparsest data - may be an outlier
# May exclude Pearl City & Upper Wahiawa from precipitation analyses because of higher % missing data

,station,date,prcp,tobs,name,latitude,longitude,elevation
0,USC00519281,2772,2772,2772,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
1,USC00519397,2724,2685,2724,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
2,USC00513117,2709,2696,2709,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
3,USC00519523,2669,2572,2669,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
4,USC00516128,2612,2484,2612,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4
5,USC00514830,2202,1937,2202,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
6,USC00511918,1979,1932,1979,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
7,USC00517948,1372,683,1372,"PEARL CITY, HI US",21.39340,-157.97510,11.9
8,USC00518838,511,342,511,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6

In [9]:
meas_sta_full = meas.merge(sta, on = "station")

In [14]:
# Save to csvs
meas.reset_index().to_csv("data/clean_measurements.csv", index = False)
sta.reset_index().to_csv("data/clean_stations.csv", index = False)